body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
}
.container{
    background-color: azure;
    font-size: 15px;
    display: flex;
    border-radius: 50px;
    text-align:left;
    width: 50%;
    color: white;

}
.positioned{
    position: absolute;
    top: 50%;
    right: 0;
}
.positioning{
    position: absolute;
    top: 50%;
    left: 0;
}

.sheet1{
    background-color: orange;
    justify-content: center;
    padding: 20px 20px;
}
.button{
    padding: 10px 30px;
    margin: 0;
    border: 2px solid white;
    border-radius: 50px;
   cursor: grab;
    background: transparent;
    color: white;
    margin-top: 50px;
}
.content{
    background-color: white;
    padding: 10px 30px;
    margin: 0;
    border: 2px solid white;
    border-radius: 50px;
    margin-top: 50px;
    
}
.sheet2{
    background-color:darkblue;
    justify-content: space-between;
    padding: 20px 20px;
}

.sheet3{
    background-color: darkcyan;
    justify-content: space-between;
    padding: 20px 20px;
}
